In [6]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [8]:
dataframe= pd.read_csv('YFifa22.csv')
dataframe.head()

,sofifa_id,short_name,player_positions,overall,potential,value_eur,wage_eur,age,height_m,potential/wage,value/wage
0,158023,l. messi,"RW, ST, CF",93,93,78000000.0,320000.0,34,1.70,0.000291,243.750000
1,188545,r. lewandowski,ST,92,92,119500000.0,270000.0,32,1.85,0.000341,442.592593
2,20801,cristiano ronaldo,"ST, LW",91,91,45000000.0,270000.0,36,1.87,0.000337,166.666667
3,190871,neymar jr,"LW, CAM",91,91,129000000.0,270000.0,29,1.75,0.000337,477.777778
4,192985,k. de bruyne,"CM, CAM",91,91,125500000.0,350000.0,30,1.81,0.000260,358.571429

In [16]:
columns= dataframe.select_dtypes(include=['number']).columns
columns

Index(['sofifa_id', 'overall', 'potential', 'value_eur', 'wage_eur', 'age',
       'height_m', 'potential/wage', 'value/wage'],
      dtype='object')

In [18]:
scaler=StandardScaler()
dataframe[columns]= scaler.fit_transform(dataframe[columns])
dataframe

,sofifa_id,short_name,player_positions,overall,potential,value_eur,wage_eur,age,height_m,potential/wage,value/wage
0,-2.716263,l. messi,"RW, ST, CF",3.957501,3.601780,9.870564,15.972640,1.851089,-1.646467,-0.959150,-0.309491
1,-1.587450,r. lewandowski,ST,3.812154,3.437470,15.321406,13.404543,1.429869,0.539166,-0.958024,-0.102230
2,-7.791226,cristiano ronaldo,"ST, LW",3.666806,3.273160,5.536158,13.404543,2.272309,0.830584,-0.958107,-0.389838
3,-1.501426,neymar jr,"LW, CAM",3.666806,3.273160,16.569190,13.404543,0.798039,-0.917923,-0.958107,-0.065555
4,-1.423243,k. de bruyne,"CM, CAM",3.666806,3.273160,16.109480,17.513498,1.008649,-0.043669,-0.959838,-0.189808
...,...,...,...,...,...,...,...,...,...,...,...
19234,1.127775,song defu,CDM,-2.728494,-3.134932,-0.365200,-0.411819,-0.676231,-0.189378,0.202461,-0.490598
19235,1.130659,c. porter,CM,-2.728494,-1.984762,-0.359946,-0.437500,-1.308061,-0.917923,1.685099,-0.334247
19236,1.157287,n. logue,CM,-2.728494,-2.642002,-0.361260,-0.437500,-0.886841,-0.480796,1.505386,-0.355094
19237,1.159506,l. rudden,ST,-2.728494,-1.820452,-0.359946,-0.437500,-1.308061,-1.209340,1.730028,-0.334247
19238,1.223118,e. lalchhanchhuaha,CAM,-2.728494,-1.820452,-0.359946,-0.437500,-1.308061,-2.083593,1.730028,-0.334247

In [20]:
dataframe.to_csv('scaled_processed.csv',index=False)